p<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779208595057-0h84qh5q768g6cc2jjs3llpmoavk4j20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779208595057-0h84qh5q768g6cc2jjs3llpmoavk4j20</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>779208595057-nm8juiqubm7hc9bft7pfvgqj961pq5u7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvl2mm47sgajznUljmLksKIXv1d0GKCDw</string>
	<key>GCM_SENDER_ID</key>
	<string>779208595057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialTest</string>
	<key>PROJECT_ID</key>
	<string>social-app-7a52f</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-7a52f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779208595057:ios:eabe171d6344a9fe93edd0</string>
</dict>
</plist>